%ul
  - @statuses.sort.reverse.each do |date, statuses|
    %li
      %h3= date
      %ul
        - statuses.group_by(&:user).each do |user, statuses|
          %li
            %h3= user.name
            %ul
              = render :partial => statuses
