%h2 Statuses
%ul
  - @statuses.sort.reverse.each do |date, statuses|
    %li
      %h3= date
      %ul
        - statuses.group_by(&:user).each do |user, statuses|
          %li
            %h3= user.name
            %ul
              - statuses.each do |status|
                %li
                  = status.message
                  %small=status.created_at.strftime("%I:%M%p")
