html, body {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", "Lucida Sans", Verdana, sans-serif; }

#header {
  background: #561616;
  font-size: 11px;
  color: #fff;
  padding-top: 7px;
  height: 20px; }
  #header #user_bar {
    float: right;
    padding-right: 20px; }
    #header #user_bar a {
      color: #fff; }

#content {
  padding: 10px;
  padding-top: 20px; }

h2 {
  background: #000;
  color: #fff;
  font-size: 12px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  display: inline; }

h3 {
  margin-top: 10px;
  padding-bottom: 8px; }

#users {
  margin-left: 100px;
  margin-bottom: 20px; }

#statuses {
  font-size: 13px;
  margin: 5px;
  margin-left: 20px; }
  #statuses small {
    text-align: center;
    padding: 2px;
    margin-right: 20px;
    background: #cecece;
    color: #fff; }
