defaults: &defaults 
  adapter: sqlite3
  encoding: utf8  

development: 
  database: db/development.sqlite3 
  <<: *defaults 

test: 
  database: db/test.sqlite3
  <<: *defaults 

production: 
  adapter: mysql
  database: holler_production
  username: root 
  password: root
  <<: *defaults