%html
  %head
    %title Holler
    = stylesheet_link_tag 'reset', 'holler'
  %body
    #header
      = render :partial => "users/user_bar"
    - if flash[:notice]
      #flash=flash[:notice]
    #content= yield